{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "env": {
        "coverage": {
            "plugins": [
                ["babel-plugin-istanbul", {
                    "include": ["src/webapp/**/*.js"],
                    "exclude": ["src/test/**", "node_modules/**"]
                }]
            ]
        }
    }
}
