{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "env": {
        "coverage": {
            "plugins": [
                ["istanbul", {
                    "include": ["src/webapp/**/*.js"]
                }]
            ]
        }
    }
}