# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build
  always: true
  branches:
    include:
    - master

pool:
  vmImage: 'Ubuntu-18.04'

# JDK 1.9 and 1.10 are out of support on Azure Pipeline tasks
strategy:
  matrix:
    JDK-8:
        jdk-ver: '1.8'
        artifact-name: 'edumips64-jdk8'
    JDK-11:
        jdk-ver: '1.11'
        artifact-name: 'edumips64-jdk11'


steps:
- script: |
      sudo pip3 install sphinx rst2pdf
  displayName: 'Install docs dependencies'

- task: Gradle@2
  displayName: 'Gradle check task'
  inputs:
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: $(jdk-ver)
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'check'

- script: bash <(curl -s https://codecov.io/bash)
  displayName: 'Codecov update'
  env:
    CODECOV_TOKEN: $(codecov_token)

- task: Gradle@2
  displayName: 'Create standalone JAR'
  inputs:
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: $(jdk-ver)
    jdkArchitectureOption: 'x64'
    tasks: 'standaloneJar'

- task: PublishBuildArtifacts@1
  displayName: 'Publish standalone artifact'
  inputs:
    pathtoPublish: './build/libs'
    artifactName: '$(artifact-name)-standalone'

- task: PublishBuildArtifacts@1
  displayName: 'Publish English manual'
  inputs:
    pathtoPublish: './build/docs/en/latex/EduMIPS64.pdf'
    artifactName: 'edumips64-docs-en'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Italian manual'
  inputs:
    pathtoPublish: './build/docs/it/latex/EduMIPS64.pdf'
    artifactName: 'edumips64-docs-it'

