# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

# JDK 1.9 and 1.10 are out of support on Azure Pipeline tasks 
strategy:
  matrix:
    jdk_8:
        jdk_ver: '1.8'
    jdk_11:
        jdk_ver: '1.11'


steps:
- bash: |
      sudo apt update && 
      sudo apt install python3-sphinx latexmk texlive-latex-base texlive-latex-extra texlive-fonts-extra texlive-fonts-recommended texlive-lang-english texlive-lang-italian texlive-xetex
  displayName: 'Install dependencies'

- task: Gradle@2
  displayName: 'Gradle check task'
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: $(jdk_ver)
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'check'

- task: PublishTestResults@2

- script: bash <(curl -s https://codecov.io/bash)
  displayName: 'Codecov update'
  env:
    CODECOV_TOKEN: $(codecov_token)

- task: Gradle@2
  displayName: 'Create standalone JAR'
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: $(jdk_ver)
    jdkArchitectureOption: 'x64'
    tasks: 'standaloneJar'

- task: PublishBuildArtifacts@1
  inputs:
    workingDirectory: ''
