<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <!--
        <div style="background:white;border-radius:4px;padding:5px 5px 0px 5px">
            <img src="http://www.edumips.org/images/edumips64-logo.png" height="24" alt="logo">
        </div>
        -->
        <img src="images/logo.png" height="32" alt="logo">

        <span flex></span>

        <md-menu>
            <md-button class="md-icon-button" aria-label="Run" ng-click="$mdOpenMenu()">
                <md-icon md-menu-origin md-svg-icon="images/play_arrow.svg"></md-icon>
                <md-tooltip>{{'EXECUTION' | translate}}</md-tooltip>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="app.runSingle()">
                        <md-icon md-svg-icon="images/skip_next.svg"></md-icon>
                        <span translate class="capitalize">SINGLE_CYCLE</span>
                        <span>F7</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="app.runAll()">
                        <md-icon md-svg-icon="images/play_arrow.svg"></md-icon>
                        <span translate class="capitalize">RUN</span>
                        <span>F4</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="app.runMulti()">
                        <md-icon md-svg-icon="images/fast_forward.svg"></md-icon>
                        <span translate class="capitalize">MULTI_CYCLE</span>
                        <span>F8</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="app.stop()" ng-enabled="false">
                        <md-icon md-svg-icon="images/stop.svg"></md-icon>
                        <span translate class="capitalize">STOP</span>
                        <span>F9</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="open">
            <md-icon md-svg-icon="images/cloud_upload.svg"></md-icon>
            <md-tooltip>{{'OPEN_SOURCE_FILE' | translate}}</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="download">
            <md-icon md-svg-icon="images/cloud_download.svg"></md-icon>
            <md-tooltip>{{'DOWNLOAD_SOURCE_FILE' | translate}}</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="settings" ng-click="app.openSettingsDialog($event)">
            <md-icon md-svg-icon="images/settings.svg"></md-icon>
            <md-tooltip>{{'SETTINGS' | translate}}</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-content flex class="md-padding">

    <md-grid-list style="height:100%" md-cols="6" md-row-height="fit" md-gutter="10px">
        <md-grid-tile class="gray editor" md-rowspan="4" md-colspan="2">
            <div file-dropper="app.onDropFile($file)">
                <div ui-ace="{ showGutter: true, onChange: app.editorChanged }" ng-model="app.editorContent"></div>
            </div>
            <md-grid-tile-footer>
                <div>{{app.filename}} ({{app.filesize | number : 0}} bytes)</div>
                <div>{{app.locs}} {{'LOCS' | translate}}</div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green" md-rowspan="2" md-colspan="2">
            <md-grid-tile-header>
                <h3 class="capitalize">{{'DATA' | translate}}</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile class="purple" md-rowspan="4" md-colspan="1">
            <md-grid-tile-header>
                <h3 class="capitalize">{{'CYCLES' | translate}}</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile class="yellow" md-rowspan="4" md-colspan="1">
            <md-grid-tile-header>
                <h3 class="capitalize">{{'REGISTERS' | translate}}</h3>
            </md-grid-tile-header>
            <div class="registers-container">
                <register ng-repeat="register in app.registers" format="app.format" name="register.name" value="register.value"></register>
            </div>
        </md-grid-tile>
        <md-grid-tile class="red" md-rowspan="2" md-colspan="2">
            <md-grid-tile-header>
                <h3 class="capitalize">{{'CODE' | translate}}</h3>
            </md-grid-tile-header>
        </md-grid-tile>
    </md-grid-list>

</md-content>
