body {
    padding: 15px;
    background-color: "white";
}

nav {
    margin-bottom: 1em;
}

div.widget {
    width: 90%;
    min-width: 800px;
    height: 500px;
    font-family: monospace;
    border: 1px solid gray;
    padding: 0px 10px 0px 10px;
}

textarea {
    width: 90%;
    height: 100%;
    font-family: monospace;
}

td.registerValue {
    text-align: right;
}

table {
    width: 90%;
    height: 500px;
    font-family: monospace;
    border: 1px solid gray;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: .1em;
    padding-bottom: .1em;
}

#run-button {
    width: 90%;
}

#logo {
    height: 62px;
    display: block;
    padding-left: 10px;
}

#nojs {
    width: 22em; 
    position: absolute; 
    left: 50%; 
    margin-left: -11em; 
    color: red; 
    background-color:white; 
    border: 1px solid red; 
    padding: 4px; 
    font-family: sans-serif;
}