name: Java CI

on: 
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
  schedule:
    - cron: "0 0 * * *"
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Install docs dependencies
      run: pip3 install -r docs/requirements.txt -U  
    - name: Read version from gradle.properties
      id: read_version
      uses: christian-draeger/read-properties@1.0.0
      with:
        path: 'gradle.properties'
        property: 'version'
    
    # Compile the code, run unit tests, upload code coverage results.
    - name: Compile Java code
      run: ./gradlew compileJava
    - name: Run unit tests
      run: ./gradlew check
    - name: Codecov
      uses: codecov/codecov-action@v1.0.5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    # Build docs (PDF and HTML for the in-app help)
    - name: Build all docs
      run: ./gradlew allDocs  

    # Build JAR files.
    - name: Build standalone JAR
      run: ./gradlew standaloneJar
    - name: Build slim JAR
      run: ./gradlew jar
    - name: Build CLI JAR
      run: ./gradlew cliJar

    # Upload artifacts (manuals and JARs)
    - name: Upload English Manual PDF
      uses: actions/upload-artifact@v1.0.0
      with:
        name: English manual (PDF)
        path: ./build/docs/en/latex/EduMIPS64.pdf
    - name: Upload Italian Manual PDF
      uses: actions/upload-artifact@v1.0.0
      with:
        name: Italian manual (PDF)
        path: ./build/docs/it/latex/EduMIPS64.pdf

    - name: Upload Standalone JAR
      uses: actions/upload-artifact@v1.0.0
      with:
        name: Standalone JAR
        path: ./build/libs/edumips64-${{ steps.read_version.outputs.value }}-standalone.jar

    - name: Upload Slim JAR
      uses: actions/upload-artifact@v1.0.0
      with:
        name: Slim JAR
        path: ./build/libs/edumips64-${{ steps.read_version.outputs.value }}.jar

    - name: Upload CLI JAR
      uses: actions/upload-artifact@v1.0.0
      with:
        name: CLI JAR
        path: ./build/libs/edumips64-${{ steps.read_version.outputs.value }}-cli.jar
 
  # Build the Web UI. Done as a separate job because it's the slowest step
  # and it's worth doing it in parallel.
  webui:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Web UI
      run: ./gradlew war
    - name: Set up Node.JS 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run build
