name: Deploy Web UI for each PR

on:
  pull_request:
    branches:
      - master

jobs:
  deploy-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build Web UI
        run: ./gradlew war
      - name: Set up Node.JS 12
        uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm run build
      - name: Copy files to run directory
        run: mkdir -p pr/${{ github.event.pull_request.number }} && cp -r build/gwt/war/edumips64/* pr/${{ github.event.pull_request.number }}
      - name: Deploy
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: master
          build_dir: pr/
          repo: EduMIPS64/web.edumips.org
          keep_history: true
          commit_message: Deploy code for PR ${{ github.event.pull_request.number }}
          fqdn: web.edumips.org
        env:
          GH_PAT: ${{ secrets.PAT_WEBUI }}
      - name: Comment on PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: 'Test URL: https://web.edumips.org/${{ github.event.pull_request.number }}'
      - name: Run web tests against deployed code
        uses: nick-invision/retry@v2
        env:
          PLAYWRIGHT_TARGET_URL: 'https://web.edumips.org/${{ github.event.pull_request.number }}'
        with:
          max_attempts: 10
          retry_on: error
          command: npm run test

